# **======================================**

# **Machine Learning Basics**

# **======================================**

### ***EDA BASIC WITH PANDAS, NUMPY, SEABORN, MATPLOTLIB DONE***
### ***NOW ITS TIME FOR SCIKIT LEARN LIBRARY***

# **======================================**

In [1]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer

In [2]:
dts = pd.read_csv('fifa_eda.csv')
dts.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0

In [3]:
dts.info()
dts.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     17955 non-null  float64
 8   Wage                      18207 non-null  float64
 9   Preferred Foot            18207 non-null  object
 10  International Reputation  18159 non-null  float64
 11  Skill Moves               18159 non-null  float64
 12  Position                  18207 non-null  object
 13  Joined                    18207 non-null  int64
 14  Contract Valid Until      17918 non-null  object
 15  Height                    18207 non-null  float64
 16  Weight                    18207 non-null  float64
 17  Release Clause            18207 non-null  float64
dtypes: float64(7), int64(5), object(6)
memory usage: 2.5+ MB

ID                            0
Name                          0
Age                           0
Nationality                   0
Overall                       0
Potential                     0
Club                        241
Value                       252
Wage                          0
Preferred Foot                0
International Reputation     48
Skill Moves                  48
Position                      0
Joined                        0
Contract Valid Until        289
Height                        0
Weight                        0
Release Clause                0
dtype: int64

In [4]:
floatC = dts.select_dtypes(include='float64').columns
#dtns = dts.select_dtypes(include='number' and 'float64')
#dtns.info()

In [5]:
intC = dts.select_dtypes(include='int64').columns

In [6]:
si = SimpleImputer(strategy="mean")
ar = si.fit_transform(dts[floatC])

In [7]:
#newdts = pd.DataFrame(ar,columns=dts.select_dtypes(include='float64').columns)
newdts = pd.DataFrame(ar,columns=floatC)

In [8]:
for col in intC:
    newdts[col] = dts[col]

In [9]:
non_intC = dts.select_dtypes(exclude=['int64','float64']).columns
for col in non_intC:
    newdts[col] = dts[col]

In [10]:
newdts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Value                     18207 non-null  float64
 1   Wage                      18207 non-null  float64
 2   International Reputation  18207 non-null  float64
 3   Skill Moves               18207 non-null  float64
 4   Height                    18207 non-null  float64
 5   Weight                    18207 non-null  float64
 6   Release Clause            18207 non-null  float64
 7   ID                        18207 non-null  int64
 8   Age                       18207 non-null  int64
 9   Overall                   18207 non-null  int64
 10  Potential                 18207 non-null  int64
 11  Joined                    18207 non-null  int64
 12  Name                      18207 non-null  object
 13  Nationality               18207 non-null  object
 14  Club                      17966 non-null  object
 15  Preferred Foot            18207 non-null  object
 16  Position                  18207 non-null  object
 17  Contract Valid Until      17918 non-null  object
dtypes: float64(7), int64(5), object(6)
memory usage: 2.5+ MB

In [11]:
newdts.isnull().sum()

Value                         0
Wage                          0
International Reputation      0
Skill Moves                   0
Height                        0
Weight                        0
Release Clause                0
ID                            0
Age                           0
Overall                       0
Potential                     0
Joined                        0
Name                          0
Nationality                   0
Club                        241
Preferred Foot                0
Position                      0
Contract Valid Until        289
dtype: int64

In [12]:
newdts['Club']=newdts['Club'].bfill()
newdts['Contract Valid Until']=newdts['Contract Valid Until'].bfill()
newdts.isnull().sum()

Value                       0
Wage                        0
International Reputation    0
Skill Moves                 0
Height                      0
Weight                      0
Release Clause              0
ID                          0
Age                         0
Overall                     0
Potential                   0
Joined                      0
Name                        0
Nationality                 0
Club                        0
Preferred Foot              0
Position                    0
Contract Valid Until        0
dtype: int64

In [20]:
dnx = pd.read_csv('pokemon.csv')
dnx.isnull().sum()

abilities              0
against_bug            0
against_dark           0
against_dragon         0
against_electric       0
against_fairy          0
against_fight          0
against_fire           0
against_flying         0
against_ghost          0
against_grass          0
against_ground         0
against_ice            0
against_normal         0
against_poison         0
against_psychic        0
against_rock           0
against_steel          0
against_water          0
attack                 0
base_egg_steps         0
base_happiness         0
base_total             0
capture_rate           0
classfication          0
defense                0
experience_growth      0
height_m              20
hp                     0
japanese_name          0
name                   0
percentage_male       98
pokedex_number         0
sp_attack              0
sp_defense             0
speed                  0
type1                  0
type2                384
weight_kg             20
generation             0
is_legendary           0
dtype: int64

In [22]:
# dnx['Club'].fillna(dnx['Club'].mode()[0],inplace=True)
# dnx['Contract Valid Until'].fillna(dnx['Contract Valid Until'].mode()[0],inplace=True)
# dnx.isnull().sum()
dnx.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [ ]:
en_data = dts[['Gender','Married']]
en_data