In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('customer_data.csv')
df.head()

   Age  Income  Gender  Marital Status  Purchased
0   56   54674       1               0          0
1   69   55854       0               0          1
2   46   66271       1               0          1
3   32   93688       0               0          0
4   60   58518       1               0          1

In [7]:
df.value_counts()

Age  Income  Gender  Marital Status  Purchased
18   20077   0       0               0            1
52   97454   0       1               0            1
     40611   0       1               1            1
     41754   1       1               0            1
     43930   0       0               0            1
                                                 ..
36   76264   0       1               0            1
     77134   1       1               1            1
     83374   0       0               1            1
     83888   0       0               0            1
69   115317  0       1               0            1
Name: count, Length: 1000, dtype: int64